.background-navBar
nav.navBar
    a.main(href="#") главная
    a.services(href="#") услуги
    a.autopark(href="#") автопарк
    a.events(href="#") события
    a.about-us(href="#") о нас
    a.contacts(href="#") контакты