.top-header
        .phones
            a.phone-first_group(href="#")
                span.num +44 20 7719 8816
                br
                span.desc круглосуточно
            a.phone-second_group(href="#")
                span.num +44 777 100 7676
                br
                span.desc vider & whatsup
        .pegasus-logo
            .background-square
            img.logo(src="./img/pegasus_logo.svg")
        .menu-buttons
            .button
                a(href="#")
                    span узнать тариф
            .button   
                a(href="#")
                    span сделать заказ