style.
    .footer{
    background: url('./img/footer.png')
    }
    @media (max-width: 1100px) {
        .footer {
            background: #2f2c34;
            background-image:none; 
        }
    }

.footer(style="")
    .wrapper
        .cars
            span.head наши машины
            span.line-head
            ul
                li Mersedes S-Class
                li Mersedes V-Class
                li Mersedes E-Class
                li Rolls-Royce Ghost
                li Rolls-Royce Phantom
                li Bentley Mulsanne
        .services
            span.head наш сервис
            span.line-head
            ul
                li Корпоративное такси
                li Личный водитель
                li Бизнес встречи
                li Аэропорты
                li События
                li Экскурсии
        .aboutus
            span.head о нас
                span.line-head
                ul
                    li Правила и условия
                    li О нас
                    li Аэропорты
                    li Контакты
                    li Блог
                    li Автопарк
        .links
            .order
                p сделать заказ
                span
            .tarif
                p узнать тариф
                span
            .details-wrapper
                .ed
                    p.tel +44 020 7719 8816
                    p.evd круглосуточно
                .vw
                    p.tel +44 777 100 7676
                    p.vdw Viber & WhatsUp
            .icons
                .fab.fa-instagram
                .fab.fa-facebook-square
                .fab.fa-google-plus-square
                .fab.fa-linkedin
    .mobile-wrapper
        .wrap-buttons
            .button
                a(href="#")
                span сделать заказ
            .button 
                a(href="#")
                span узнать тариф
        .wrap-phones
            .mob-ed
                p.mob-tel +44 020 7719 8816
                p.mob-evd круглосуточно
            .mob-vw
                p.mob-tel +44 777 100 7676
                p.mob-vdw Viber & WhatsUp
        .wrap-icons
            .fab.fa-instagram
            .fab.fa-facebook-square
            .fab.fa-google-plus-square
            .fab.fa-linkedin
    p.down-label 2010-2018 ©Pegasus Luxury Services Ltd. Company Number: 08104782. PCO-Operator Licence: 0086810101. All rights reserved.