.description
    .logo
        p pegasus luxury services
        .line
        span.exc экскурсии
    .text
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae cupiditate voluptates ut commodi amet velit qui deleniti quibusdam et quaerat ipsum laudantium illum neque quas, quisquam voluptatem. Velit perferendis quia quibusdam blanditiis debitis quasi doloremque, eveniet aut, aperiam esse impedit suscipit ratione. Architecto, mollitia quas?
        br
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos ab praesentium rerum doloribus aliquid officiis.